
  <div class="navbar">
    <h3>Pinterest</h3>
    <div class="navlinks">
      <a href="/profile" class="links">Profile</a>
      <a href="/profile/create" class="links">Create</a>
      <a href="/postlist" class="links">Feed</a>
      <a href="/logout" class="button">Logout</a>
    </div>
  </div>