<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

    <nav class="navbar">
        
        <a href="/profile" class="backToProfile"><i class="ri-arrow-left-line"></i></a>
    </nav>

    <div class="container">
        <% if (typeof posts !== 'undefined' && posts.length > 0) { %>
        <% posts.forEach(post => { %>
            <div class="box">
                <a
                    href="/images/uploads/<%= post.image %>" target="_blank">
                    <img src="/images/uploads/<%= post.image %>"
                        alt="image">
                </a>
                <div class="caption"><%= post.imageText %></div>
            </div>
        <% }) %>
        <% } else { %>
            <p>No Posts Found</p>
        <% } %>
    </div>
</body>

</html>