* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

nav {
    padding: 0px 10px;
    height: 80%;

}

.backToPostlist {
    text-decoration: none;
    color: #000;
    font-size: xx-large;
}

.container {
    max-width: 120vh;
    margin: 0 auto 40px auto;
    padding: 30px 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 37px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imageBox {
    max-width: 50vh;
}

.image {
    position: relative;
    max-height: fit-content;
    max-width: 90%;
}

.imageInput {
    font-size: 15px;
    cursor: pointer;
}

.imageInput #previewImage {

    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.downloadBox {
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    padding: 3px;
    background-color: #f5f5f5;
    opacity: 0;
}

.downloadbtn {
    border-radius: 50%;
    color: #000;
    font-size: x-large;
}

.image:hover .downloadBox {
    opacity: 50%;
}

.profilePic{
    border-radius: 50%;
}
.userDetail{
    display: flex;
    flex-direction: row;
}
h4{
    font-weight: 200;
}
.username{
    padding: 5px 2px;

}